@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro&display=swap');

:root {
    --primary-color: #02401A;
    --secondary-color: #F0F2EF;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'source sans pro', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: var(--secondary-color);
}

ul {
    list-style-type: none;    
}

a {
    text-decoration: none;
    color:#333;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 3px;    
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    height: 70px;       
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--primary-color);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--primary-color);
}

.navbar .flex {
    justify-content: space-between;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    color: var(--secondary-color)
}

#hero-image {
    background: url('../images/hero-image-leaf-water.jpg');
}

/* About Section */

#about {
    height: 1200px;
}

#welcome-title {
    text-align: center;
    margin:  20px 0;
    font-size: 280%;
}

/* Utilities */

.container {
    max-width: 1280px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Utility Margin Settings */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 3rem 0;
}