@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro&display=swap');

:root {
    --primary-color: #02401A;
    --secondary-color: #fff;
    --tertiary-color: #f4f4f4;
    --highlight-color: #217245;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'source sans pro', sans-serif;
    color: var(--primary-color);
    line-height: 1.6;
    background-color: var(--secondary-color);
}

ul {
    list-style-type: none;    
}

a {
    text-decoration: none;
    color:var(--primary-color);
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 3px;    
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

h2 i {
    margin: 10px 0;
}

/* Navbar */

.navbar {
    height: 70px;       
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--primary-color);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px var(--primary-color);
}

.navbar .flex {
    justify-content: space-between;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    color: var(--secondary-color)
}

#hero-image {
    background: url('../images/hero-image-leaf-water.jpg');
}

/* About Section */

#about {
    height: 1200px;
}

#welcome-title {
    text-align: center;
    margin:  20px 0;
    font-size: 280%;
}

/* Footer */

#social-links a {
    margin: 0 12px;
}

/* Utilities */

.container {
    max-width: 1280px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 5px 20px;
    background: var(--highlight-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.text-box {
    background-color: var(--tertiary-color);
}

/* Utility Margin Settings referenced from CSS Grid/ Flexbox tutorial.  See link in README file */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* Utility Padding Settings referenced from CSS Grid/ Flexbox tutorial.  See link in README file */

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

