@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@300;500;700&family=Source+Sans+Pro:wght@400;700&display=swap');


:root {
    --primary-color: #02401A;
    --secondary-color: #fff;
    --tertiary-color: #f4f4f4;
    --highlight-color: #217245;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--primary-color);
    line-height: 1.6;
    background-color: var(--secondary-color);
}

ul {
    list-style-type: none;    
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 3px;    
}

p {
    margin-bottom: 20px;
}

img {
    width: 100%;
    border-radius: 5px;
}

h2 i {
    margin: 10px 0;
}

/* Navbar */

.navbar {
    height: 90px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);     
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: var(--secondary-color);
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 5px 10px;
    margin: 0 5px;
}

.active {
    border-bottom: 1px solid var(--primary-color);
}

.navbar .flex {
    justify-content: space-between;
}

#top-menu li {
    font-family: 'Montserrat', sans-serif;
}

#top-menu li:hover {
    transform: scale(1.2);
}

/* Hero Image */

.hero-text {
    font-size: 475%;
    text-align: center;
    animation: fadeIn 6s;
    -webkit-animation: fadeIn 6s;
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
}

.hero-text h2 {
    font-family: 'Amatic SC', cursive;
}

#hero-outer {
    height: 600px;
    width: 100%;
    margin-top: 90px;
    overflow: hidden;
    position: relative;
    color: var(--secondary-color)
}

#hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('../images/hero-image-leaf-water.jpg');
    height: 100%;
}

#hero-title {
    align-items: flex-start;
    margin-left: 30px;
    padding-top: 60px;
}

#hero-location {
    align-items: flex-end;
    margin-right: 30px;
    padding-bottom: 60px;
}

/* Hero text fade in */

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 0.9}
}

/* About Section */

/* #goals .text-column {
    justify-content: space-between;
} */

/* Community Section */

#timetable {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('../images/hero-image-leaf-water.jpg');
    font-family: 'Amatic SC', cursive;
    font-size: 150%;
    color: var(--secondary-color);
    height: 100%;
    border-radius: 5px;
}

#timetable h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
}

#activities a {
    font-weight: 700;
}

#activities a:hover {
    border-bottom: 1px solid var(--primary-color);
}

/* Photo Slideshow code referenced from Skillthrive YouTube Tutorial.  See README for link */

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* Volunteer Form */

.form-wrapper {
    display: flex;
    justify-content: space-around;
}

.volunteer-form {
    width:50%;
    text-align: center;
}

.form-control {
    margin: 30px 0;
    text-align: left;
}

.volunteer-form input[type='text'],
.volunteer-form input[type='email'] {
    border: 0;
    border-bottom: 0.5px solid var(--primary-color);
    width: 100%;
    padding: 5px;
    font-size: 14px;
    font-family: 'source sans pro', sans-serif;
    color: var(--primary-color);
}

.volunteer-form textarea {
    width: 100%;
    border: 0.5px solid var(--primary-color);
    border-radius: 0.5px;
    font-family: 'source sans pro', sans-serif;
    font-size: 14px;
}

/* Footer */

#footer {
    padding: 30px 10px;
    background-color: var(--tertiary-color);

}

#social-links a {
    margin: 0 12px;
}



.container {
    max-width: 1280px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 20px;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.top-row {
    margin-top: 90px;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

.text-box {
    background-color: var(--tertiary-color);
    padding: 0 1.5rem;
    border-radius: 5px;
}

.text-column {
    flex-direction: column;
    justify-content: normal;
}

/* Media Queries */

/*Tablets and under */

@media (max-width: 950px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem 0; 
    }
   
}

/* Utilities */

/* Utility Margin Settings referenced from CSS Grid/ Flexbox tutorial.  See link in README file */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* Utility Padding Settings referenced from CSS Grid/ Flexbox tutorial.  See link in README file */

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

